<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-card-header>
      <ion-card-title>Welcome to Smart House, {{ name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This system its have objective as integracion your smartphone in your house ! 
      </p>
    </ion-card-content>

    <ion-list lines="none"> </ion-list>

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-img src="assets/5-512.png"></ion-img>
            <br />
            <h1>Smart House</h1>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <ion-img src="assets/6-512.png"></ion-img>
            <br />
            <h1>Use your Smartphone</h1>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-img
            src="assets/micro.png"
            style="width:308px;height:308px;"
          ></ion-img>
          <br />
          <!-- <h1 style="font-size: 1.2em">Use your microphone in you smartphone and talk with Google Assistant</h1> -->
          <!-- <h1 style="font-size: 1.2em"></h1> -->
          <ion-card-header>
            <ion-card-title>Google Assistant</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Use your microphone in you smartphone and talk with Google
              Assistant
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
